<%= turbo_frame_tag board, :involvement do %>
  <div class="flex align-center gap">
    <h2 class="txt-medium overflow-ellipsis">
      <%= board.name %>
    </h2>

    <hr class="separator--horizontal flex-item-grow" style="--border-color: var(--color-ink-medium); --border-style: dashed" aria-hidden="true">

    <label class="flex-item-no-shrink txt-small">
      <%= access_involvement_advance_button(board, user, show_watchers: false, icon_only: true) %>
    </label>
  </div>
<% end %>
