<% @page_title = "Notification Settings" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<section class="settings margin-block-start-half">
  <div class="settings__panel settings__panel--users panel shadow">
    <section class="settings__section">
      <h2 class="divider">Boards</h2>
      <div class="settings__user-list flex flex-column gap-half">
        <%= render partial: "notifications/settings/board", collection: @boards, locals: { user: Current.user } %>
      </div>
    </section>
  </div>

  <div class="settings__panel panel shadow">
    <%= render "notifications/settings/push_notifications" %>
    <%= render "notifications/settings/email", settings: @settings %>
  </div>
</section>
