<h1 class="title">Your Fizzy account import is complete</h1>
<p class="subtitle">Your Fizzy account data has been successfully imported.</p>

<p><%= link_to "View your account", root_url %></p>

<p class="footer">Need help? <%= mail_to "support@fizzy.do", "Send us an email" %>.</p>
