<div class="card__people flex gap margin-inline-start">
  <div class="card__reported flex flex-column align-center">
    <span class="txt-uppercase">Reported</span>
    <%= avatar_tag bubble.creator, loading: :lazy, class: "avatar" %>
  </div>

  <div class="card__assignees flex flex-column align-center">
    <span class="txt-uppercase">Assigned</span>

    <%= render "bubbles/assignees", bubble: bubble %>
  </div>
</div>
