<div class="event-summary flex-inline flex-wrap align-start fill-white border-radius center position-relative" data-controller="event-summary">
  <% event_summary.events.non_boosts.each do |event| %>
    <%= event_description_for event %>
  <% end %>

  <%= tallied_boosts_for event_summary %>
</div>
