<div class="flex flex-column align-center margin-block-double">
  <h2 class="divider txt-large margin-none-block full-width">Developer</h2>
  <p class="margin-none">Manage <%= link_to "personal access tokens", my_access_tokens_path, class: "btn btn--plain txt-link" %> used with the Fizzy developer API.</p>
</div>