<div class="flex flex-column align-center margin-block-double">
  <h2 class="divider txt-large margin-none-block full-width">Connected Apps</h2>
  <p class="margin-none">Manage <%= link_to "apps you've authorized", my_connected_apps_path, class: "btn btn--plain txt-link" %> to access your account.</p>
</div>
