<div hidden class="bubble bubble--<%= style %>"
     data-controller="bubble" data-action="turbo:morph-element->bubble#update"
     data-bubble-reminder-before-value="<%= Card::AUTO_CLOSE_REMINDER_BEFORE.in_days.to_i %>"
     data-bubble-closes-at-value="<%= card.auto_close_at.iso8601 %>">
  <svg viewBox="0 0 200 100">
    <path id="top-half" fill="transparent" d="M 20,100 A 80,80 0 0,1 180,100" />
    <text text-anchor="middle" fill="currentColor">
      <textPath href="#top-half" startOffset="50%" dominant-baseline="middle" data-bubble-target="<%= style %>Top"></textPath>
    </text>
  </svg>

  <span class="bubble__number" data-bubble-target="days">
  </span>

  <svg viewBox="0 0 200 100">
    <path id="bottom-half" d="M 20,0 A 80,80 0 0,0 180,0" fill="transparent" />
    <text text-anchor="middle" fill="currentColor">
      <textPath href="#bottom-half" startOffset="50%" dominant-baseline="middle" data-bubble-target="bottom"></textPath>
    </text>
  </svg>
</div>
