<div class="board-tools card">
  <%= button_to board_cards_path(board), method: :post, class: "btn btn--link",
        form: { data: { turbo_frame: "_top" } },
        data: { controller: "hotkey", action: "keydown.c@document->hotkey#click", bridge__buttons_target: "button", bridge_icon_name: "plus", bridge_title: "Add card" } do %>
    <%= icon_tag "add", class: "show-on-touch" %>
    <span>Add a card</span>
    <kbd class="hide-on-touch">C</kbd>
  <% end %>

  <footer>
    <%= access_involvement_advance_button(board, Current.user, show_watchers: true) %>
  </footer>
</div>
