body {
  display: grid;
  grid-template-rows: auto 1fr auto 6em;
  overflow-x: hidden;
}

:where(#main) {
  container-type: normal;
  inline-size: 100dvw;
  margin-inline: auto;
  max-inline-size: 100dvw;
  padding-inline: clamp(var(--inline-space), 3cqmin, calc(var(--inline-space) * 3));
  text-align: center;

  @media print {
    font-size: 11pt;
    inline-size: unset;
    line-height: 1.3;
    margin: 0;
    orphans: 3;
    padding: 0;
    text-align: justify;
    text-justify: distribute;
    widows: 2;
  }

  &:has(.bubble__perma) {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, auto) 1fr;
    gap: var(--inline-space);
  }
}

:where(#footer) {
  max-inline-size: 100dvw;

  > nav {
    padding-inline: var(--inline-space);
  }
}

:where(#header) {
  max-inline-size: 100dvw;
  view-transition-name: header;

  > nav {
    view-transition-name: nav;
  }

  > * {
    align-items: center;
    display: flex;
    gap: 1ch;
    justify-content: center;
    padding: var(--block-space-half) var(--inline-space);
  }

  .btn {
    flex-shrink: 0;
  }
}

:is(#header, #footer) {
  @media print {
    display: none;
  }
}

.skip-navigation {
  --left-offset: -999em;

  inset-block-start: 4rem;
  inset-inline-start: var(--left-offset);
  position: absolute;
  white-space: nowrap;
  z-index: 11;

  &:focus {
    --left-offset: var(--inline-space);
  }
}
