@layer reset {
  @font-face {
    font-family: "Segoe UI Variable Fizzy";
    src: local("Segoe UI Variable");
    font-weight: 100 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Segoe UI Variable Fizzy";
    src: local("Segoe UI Variable Italic");
    font-weight: 100 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Segoe UI Variable Fizzy";
    src: local("Segoe UI Black");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Segoe UI Variable Fizzy";
    src: local("Segoe UI Black Italic");
    font-weight: 900;
    font-style: italic;
  }
}
