name: CI

on:
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - 'infra/**'

permissions:
  contents: read

jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/ci-checks.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml
